NODE_ENV=dev
PORT=3000
API_KEY=08c69707-ee6b-4e4c-ac9a-8c7674759600 # for educational purposes 

# DB Configuration
DB_NAME=gitpulse
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

TEST_DB_NAME=gitpulse_test
TEST_DB_USER=postgres
TEST_DB_PASSWORD=postgres
TEST_DB_HOST=localhost
TEST_DB_PORT=5432

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# App Configuration
APP_URL=http://localhost:3000
DEV_DEFAULT_EMAIL=your_email@example.com

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your_smtp_user@gmail.com
SMTP_PASS=your_smtp_password
SMTP_SECURE=true

# GitHub Configuration
GITHUB_TOKEN=your_github_token_here
